@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-green-50;
  @apply text-stone-800;
  overflow-y: scroll;
}

main {
  @apply mx-auto py-8 max-w-5xl grid gap-3 grid-cols-3;
}

main > form {
  @apply col-span-full mb-5;
}

main > ul {
  @apply order-last;
}

form {
  @apply relative flex w-full;
}

form label {
  @apply sr-only;
}

form input {
  @apply block w-full;
  @apply rounded-sm !important;
  @apply border-stone-400 !important;
}

form input:focus {
  @apply border-green-600 ring-green-400 !important;
}

h2 {
  @apply text-xl font-semibold;
}

ul {
  @apply space-y-3;
}

ul.loading {
  @apply animate-pulse;
}

ul li {
  @apply rounded-sm border border-stone-300 bg-white outline-offset-0;
  @apply leading-tight;
}

ul li a {
  @apply block p-3 hover:bg-stone-50;
}

/* no resuls */
ul li > p {
  @apply block p-3 hover:bg-stone-50;
}

ul li hr {
  @apply border-t border-gray-300 my-3;
}

ul li p {
  @apply text-sm text-stone-700;
}

ul li p + p {
  @apply mt-1;
}

ul li em {
  @apply bg-amber-300 text-stone-900;
}

ul li img {
  @apply h-10 w-10 rounded-full float-left mr-3;
}
